
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Bible Verse App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/verse/delete/">Delete Verse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/verse/create/">Create Verse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="verse/edit">Edit Verse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="verse/search">Search</a>
      </li>
    </ul>
  </div>
</nav>
