<h2>List of Bible Verses</h2>
<form (ngSubmit)="onSubmit()">
  <label for="book">Book:</label>
  <input type="text" id="book" name="book" required (input)="onBookInput($event)">

  <label for="chapter">Chapter:</label>
  <input type="number" id="chapter" name="chapter" required (input)="onChapterInput($event)">

  <button type="submit" [disabled]="!isFormValid()">Submit</button>
</form>

<ul>
  <li *ngFor="let verse of verses">
    <p>Verse Number: {{ verse?.verseNumber }}</p>
    <p>Text: {{ verse?.text }}</p>
  </li>
</ul>
